{% extends "base.html" %}

{% block content %}
    <div class="row spaceup">
        <div class="col-lg-12">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-success">
                    <input type="radio" name="options" id="option1"><i class="fa fa-play"></i> Start
                </label>
                <label class="btn btn-danger">
                    <input type="radio" name="options" id="option2"><i class="fa fa-stop"></i> Stop
                </label>
            </div>

        </div>

    </div>

{% endblock %}